h1 {
  color: blue;
  background-color: tomato;
  font-size: 24px;
  text-align: center;
}
.peach{
  background-image: url("wp8504190.jpg");
  background-size: cover;
  height: 300px;
  width: 50%;
  color :rgb(255, 0, 0)
}
.mango {
  width: 330px;
  border: 15px solid green;
  padding: px;
  margin: 20px;
}
.dragonfruit{
  width: 400px;
  border: 15px solid rgb(0, 13, 128);
  padding: 20px;
  margin: 20px;
}
p {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: purple;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.gallery-item {
  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;
}

div.gallery-item:hover {
  border: 1px solid #777;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}

